section.advantages.border_bottom_grey.py-60
    .container
        .content
            h3.advantages__title Преимущества
            .advantages__items-wrapper.l-j-c-s-b
                .advantages__item
                    img(src="./img/icons/advantages-1.png", alt="").advantages__icon
                    p.advantages__description.items-description Ассортимент
                .advantages__item
                    img(src="./img/icons/advantages-2.png", alt="").advantages__icon
                    p.advantages__description.items-description Доступны цены вне зависимости от профиля
                .advantages__item
                    img(src="./img/icons/advantages-3.png", alt="").advantages__icon
                    p.advantages__description.items-description Быстрые сроки
                .advantages__item
                    img(src="./img/icons/advantages-4.png", alt="").advantages__icon
                    p.advantages__description.items-description Без предоплаты (рассрочка 0%)