section.company-description.border_bottom_grey.py-60
    .container
        .content
            h2.company-description__title «Азбука окна» — оригинальные окна Rehau (Рехау) от немецкого производителя
            .company-description__info-wrapper.l-j-c-s-b
                p.dark-grey-text.company-description__info В компании «Азбука Окна» можно купить оригинальные окна Rehau подходящей модели. 
                                        |Любое количество камер, элегантный дизайн, множество цветов. Окна Рехау подходят 
                                        |для любых типов зданий. Немецкое качество — это, пожалуй, одно из немногих словосочетаний 
                                        |в мире, которое вызывает уважение и абсолютное доверие к товару. Именно эти слова звучат первыми, 
                                        |когда речь заходит о знаменитых окнах Rehau, оставивших конкурирующую продукцию далеко позади.
                p.dark-grey-text.company-description__info Мы используем комплектующие известных европейских производителей. При изготовлении окон 
                                        |Рехау компания АзбукаОкна комплектует свои изделия продукцией известных европейских марок – 
                                        |профиль Rehau, фурнитура – Sigenia, стекло Saint Gobain. Используя качественные и надежные 
                                        |комплектующие Азбука Окна гарантирует своим клиентам надежную конструкцию, которая долго 
                                        |прослужит, не требуя специального обслуживания.