footer.footer
    .container 
        .content
            .footer__items-wrapper
                p.footer__item © ООО «Азбука окна», 2017
                p.footer__item Популярные разделы: <a href="#">Окна</a> | <a href="#">Двери</a> | <a href="#">Балконы</a>
                p.footer__item WebCanape - быстрое создание сайтов<br>и продвижение
            .footer__items-wrapper
                p.footer__item <a href="#">Главная</a> | <a href="#">Карта сайта</a> | <a href="#">Обратная связь</a>
                a(href="tel:84954807645").footer__item.footer__number +7 (495) 480-76-45
                p.footer__item Москва, шоссе Энтузиастов, д.7А ТЦ «Рогожская застава»
                p.footer__item E-mail: <a href="mailto:info@azbukaokna.ru">info@azbukaokna.ru</a>