.hat
    .container
        .content
            .hat__section.l-j-c-s-b
                .hat__group.l-a-i-c
                    img(src="./img/logo.png", alt="").hat__logo
                    p.hat__logo-description Оригинальные окна Rehau от немецкого производителя
                .hat__group.l-a-i-c
                    .hat__info-wrapper
                        a(href="tel:84954807645").hat__number +7 (495) 480–76–45
                        p.hat__number-description c 9:00 до 21:00 без выходных 
                    button.button.button_pink Обратный звонок
.border_bottom_grey



                        
