header.header
    .container
        .content.l-j-c-s-b
            .header__menu.menu
                a(href="#").menu__item О компании
                a(href="#").menu__item Цены и акции
                a(href="#").menu__item Полезное 
                a(href="#").menu__item Контакты
            .header__address-wrapper
                p.header__address Москва, шоссе Энтузиастов, д. 7А, ТЦ «Рогожская застава»