section.our-work.border_bottom_grey.py-60
    .container
        .content
            h3.our-work__title Наши работы
            .carousel-wrapper.l-j-c-c
                .owl-carousel.owl-theme.owl-carousel_with-arrows.owl-carousel_5-items
                    .our-work__item
                       img(src="./img/our-work/our-work-1.png", alt="").our-work__img 
                    .our-work__item
                       img(src="./img/our-work/our-work-2.png", alt="").our-work__img 
                    .our-work__item
                       img(src="./img/our-work/our-work-3.png", alt="").our-work__img 
                    .our-work__item
                       img(src="./img/our-work/our-work-4.png", alt="").our-work__img 
                    .our-work__item
                       img(src="./img/our-work/our-work-5.png", alt="").our-work__img 
                    .our-work__item
                       img(src="./img/our-work/our-work-1.png", alt="").our-work__img 
                    .our-work__item
                       img(src="./img/our-work/our-work-2.png", alt="").our-work__img 
                    .our-work__item
                       img(src="./img/our-work/our-work-3.png", alt="").our-work__img 
                    .our-work__item
                       img(src="./img/our-work/our-work-4.png", alt="").our-work__img 
                    .our-work__item
                       img(src="./img/our-work/our-work-5.png", alt="").our-work__img 