section.partners.border_bottom_grey.py-60
    .container
        .content
            h3.partners__title Наши партнеры
            .partners__info-wrapper.l-grid-col-2.l-grid-gap-60
                p.dark-grey-text.partners__description Мы используем комплектующие известных европейских производителей. 
                                    |При изготовлении окон Рехау компания АзбукаОкна комплектует свои 
                                    |изделия продукцией известных европейских марок.
                .partners__logo-wrapper.l-grid-col-4.l-grid-gap-30
                    img(src="./img/partners/partners-1.png", alt="").partners__logo
                    img(src="./img/partners/partners-2.png", alt="").partners__logo
                    img(src="./img/partners/partners-3.png", alt="").partners__logo
                    img(src="./img/partners/partners-4.png", alt="").partners__logo