.product-cards.border_bottom_grey.py-60
    .container
        .content.l-grid-col-5.l-grid-gap-30
            .product-card
                img(src="./img/product-card/product-card-1.png", alt="").product-card__img
                p.product-card__title Эконом окна
                .product-card__info-wrapper
                    p.product-card__description Окна с повышенными теплозащитными характеристиками. Для холодных 
                                                |квартир, загородного жилья, объединения лоджий с комнатой.
                    p.product-card__price Цена от <strong>9 999руб.</strong> за м&sup2;
                    button.button.button_pink Заказать
            .product-card
                img(src="./img/product-card/product-card-1.png", alt="").product-card__img
                p.product-card__title Стандартные окна
                .product-card__info-wrapper
                    p.product-card__description Окна с повышенными теплозащитными характеристиками. Для холодных 
                                                |квартир, загородного жилья, объединения лоджий с комнатой.
                    p.product-card__price Цена от <strong>9 999руб.</strong> за м&sup2;
                    button.button.button_pink Заказать
            .product-card
                img(src="./img/product-card/product-card-1.png", alt="").product-card__img
                p.product-card__title Элитные окна
                .product-card__info-wrapper
                    p.product-card__description Окна с повышенными теплозащитными характеристиками. Для холодных 
                                                |квартир, загородного жилья, объединения лоджий с комнатой.
                    p.product-card__price Цена от <strong>9 999руб.</strong> за м&sup2;
                    button.button.button_pink Заказать
            .product-card
                img(src="./img/product-card/product-card-1.png", alt="").product-card__img
                p.product-card__title Элитные окна
                .product-card__info-wrapper
                    p.product-card__description Окна с повышенными теплозащитными характеристиками. Для холодных 
                                                |квартир, загородного жилья, объединения лоджий с комнатой.
                    p.product-card__price Цена от <strong>9 999руб.</strong> за м&sup2;
                    button.button.button_pink Заказать
            .product-card
                img(src="./img/product-card/product-card-1.png", alt="").product-card__img
                p.product-card__title Энергоэффективные окна
                .product-card__info-wrapper
                    p.product-card__description Окна с повышенными теплозащитными характеристиками. Для холодных 
                                                |квартир, загородного жилья, объединения лоджий с комнатой.
                    p.product-card__price Цена от <strong>9 999руб.</strong> за м&sup2;
                    button.button.button_pink Заказать