section.reviews.border_bottom_grey.py-60
    .container
        .content
            h3.reviews__title Отзывы
            .carousel-wrapper.l-j-c-c
                .owl-carousel.owl-theme.owl-carousel_with-arrows
                    .reviews__item
                        p.reviews__content В компании «Азбука Окна» можно купить оригинальные окна 
                                        |Rehau подходящей модели. Любое количество камер, элегантный дизайн, 
                                        |множество цветов. Окна Рехау подходят для любых типов зданий. 
                                        |Немецкое качество — это, пожалуй, одно из немногих словосочетаний в 
                                        |мире, которое вызывает
                        p.reviews__content.reviews__author Елена Николаевна
                    .reviews__item
                        p.reviews__content В компании «Азбука Окна» можно купить оригинальные окна 
                                        |Rehau подходящей модели. Любое количество камер, элегантный дизайн, 
                                        |множество цветов. Окна Рехау подходят для любых типов зданий. 
                                        |Немецкое качество — это, пожалуй, одно из немногих словосочетаний в 
                                        |мире, которое вызывает
                        p.reviews__content.reviews__author Елена Николаевна
                    .reviews__item
                        p.reviews__content В компании «Азбука Окна» можно купить оригинальные окна 
                                        |Rehau подходящей модели. Любое количество камер, элегантный дизайн, 
                                        |множество цветов. Окна Рехау подходят для любых типов зданий. 
                                        |Немецкое качество — это, пожалуй, одно из немногих словосочетаний в 
                                        |мире, которое вызывает
                        p.reviews__content.reviews__author Елена Николаевна
                    .reviews__item
                        p.reviews__content В компании «Азбука Окна» можно купить оригинальные окна 
                                        |Rehau подходящей модели. Любое количество камер, элегантный дизайн, 
                                        |множество цветов. Окна Рехау подходят для любых типов зданий. 
                                        |Немецкое качество — это, пожалуй, одно из немногих словосочетаний в 
                                        |мире, которое вызывает
                        p.reviews__content.reviews__author Елена Николаевна
                    .reviews__item
                        p.reviews__content В компании «Азбука Окна» можно купить оригинальные окна 
                                        |Rehau подходящей модели. Любое количество камер, элегантный дизайн, 
                                        |множество цветов. Окна Рехау подходят для любых типов зданий. 
                                        |Немецкое качество — это, пожалуй, одно из немногих словосочетаний в 
                                        |мире, которое вызывает
                        p.reviews__content.reviews__author Елена Николаевна
                    .reviews__item
                        p.reviews__content В компании «Азбука Окна» можно купить оригинальные окна 
                                        |Rehau подходящей модели. Любое количество камер, элегантный дизайн, 
                                        |множество цветов. Окна Рехау подходят для любых типов зданий. 
                                        |Немецкое качество — это, пожалуй, одно из немногих словосочетаний в 
                                        |мире, которое вызывает
                        p.reviews__content.reviews__author Елена Николаевна
                    .reviews__item
                        p.reviews__content В компании «Азбука Окна» можно купить оригинальные окна 
                                        |Rehau подходящей модели. Любое количество камер, элегантный дизайн, 
                                        |множество цветов. Окна Рехау подходят для любых типов зданий. 
                                        |Немецкое качество — это, пожалуй, одно из немногих словосочетаний в 
                                        |мире, которое вызывает
                        p.reviews__content.reviews__author Елена Николаевна
                    .reviews__item
                        p.reviews__content В компании «Азбука Окна» можно купить оригинальные окна 
                                        |Rehau подходящей модели. Любое количество камер, элегантный дизайн, 
                                        |множество цветов. Окна Рехау подходят для любых типов зданий. 
                                        |Немецкое качество — это, пожалуй, одно из немногих словосочетаний в 
                                        |мире, которое вызывает
                        p.reviews__content.reviews__author Елена Николаевна
                    .reviews__item
                        p.reviews__content В компании «Азбука Окна» можно купить оригинальные окна 
                                        |Rehau подходящей модели. Любое количество камер, элегантный дизайн, 
                                        |множество цветов. Окна Рехау подходят для любых типов зданий. 
                                        |Немецкое качество — это, пожалуй, одно из немногих словосочетаний в 
                                        |мире, которое вызывает
                        p.reviews__content.reviews__author Елена Николаевна
                    .reviews__item
                        p.reviews__content В компании «Азбука Окна» можно купить оригинальные окна 
                                        |Rehau подходящей модели. Любое количество камер, элегантный дизайн, 
                                        |множество цветов. Окна Рехау подходят для любых типов зданий. 
                                        |Немецкое качество — это, пожалуй, одно из немногих словосочетаний в 
                                        |мире, которое вызывает
                        p.reviews__content.reviews__author Елена Николаевна