.service-cards.border_bottom_grey.py-60
    .container
        .content.l-grid-col-2.l-grid-gap-20
            .service-card.service-card_with-icon
                img(src="./img/service-card/service-card-4.png", alt="").service-card__img
                .pink-gradient 
                p.service-card__title
                    img(src="./img/icons/service-card-1.png", alt="").service-card__icon
                    |Бесплатный вызов замерщика
            .service-card.service-card_with-icon
                img(src="./img/service-card/service-card-5.png", alt="").service-card__img
                .pink-gradient 
                p.service-card__title
                    img(src="./img/icons/service-card-2.png", alt="").service-card__icon 
                    |Заказать услуги