section.service-cards.border_bottom_grey.py-60
    .container
        .content.l-grid-col-3.l-grid-gap-30
            .service-card
                img(src="./img/service-card/service-card-1.png", alt="").service-card__img
                .pink-gradient 
                p.service-card__title Окна
            .service-card
                img(src="./img/service-card/service-card-2.png", alt="").service-card__img
                .pink-gradient 
                p.service-card__title Двери
            .service-card
                img(src="./img/service-card/service-card-3.png", alt="").service-card__img
                .pink-gradient 
                p.service-card__title Балконы