.welcome-carousel
    .owl-carousel.owl-theme
        .welcome-carousel__item
            img(src="./img/welcome-carousel/welcome-carousel-1.png", alt="")
            .welcome-carousel__item-info
                h2.welcome-carousel__title Скидки на окна до 50% 
                p.welcome-carousel__subtitle Торопитесь оставить заявку! Предложение ограничено
        .welcome-carousel__item
            img(src="./img/welcome-carousel/welcome-carousel-1.png", alt="")
            .welcome-carousel__item-info
                h2.welcome-carousel__title Скидки на окна до 50% 
                p.welcome-carousel__subtitle Торопитесь оставить заявку! Предложение ограничено
        .welcome-carousel__item
            img(src="./img/welcome-carousel/welcome-carousel-1.png", alt="")
            .welcome-carousel__item-info
                h2.welcome-carousel__title Скидки на окна до 50% 
                p.welcome-carousel__subtitle Торопитесь оставить заявку! Предложение ограничено
        .welcome-carousel__item
            img(src="./img/welcome-carousel/welcome-carousel-1.png", alt="")
            .welcome-carousel__item-info
                h2.welcome-carousel__title Скидки на окна до 50% 
                p.welcome-carousel__subtitle Торопитесь оставить заявку! Предложение ограничено
        .welcome-carousel__item
            img(src="./img/welcome-carousel/welcome-carousel-1.png", alt="")
            .welcome-carousel__item-info
                h2.welcome-carousel__title Скидки на окна до 50% 
                p.welcome-carousel__subtitle Торопитесь оставить заявку! Предложение ограничено