.company-description
    &__title
        position: relative
        font-weight: 400
        font-family: 'Exo 2', sans-serif
        color: $dark-grey
        font-size: 40px
        line-height: 48px
        margin: 0
        padding-left: 32px
        &::before
            position: absolute
            content: ''
            height: calc( 100% - 12px )
            width: 3px
            background-color: $pink
            left: 0
            top: 0
            bottom: 0
            margin: auto
    &__info-wrapper
        margin-top: 40px
    &__info
        margin-right: 60px
        &:last-child
            margin-right: 0

@include respond-to(md)
    .company-description
        &__title
            font-size: 34px
            line-height: 40px
        &__info-wrapper
            flex-direction: column
        &__info
            margin-right: 0
            &:last-child
                margin-top: 20px
    
@include respond-to(xs)
    .company-description
        &__title
            font-size: 30px
            line-height: 36px
            padding-left: 26px