// layout
.l
  &-j-c-s-b
    display: flex
    justify-content: space-between
    align-items: center
  &-j-c-c
    display: flex
    align-items: center
    justify-content: center
  &-a-i-c
    display: flex
    align-items: center


@for $i from 1 through 60
  .l
    &-grid-col-#{$i}
      display: grid
      grid-template-columns: repeat($i, 1fr)
      grid-auto-rows: auto
    &-grid-gap-#{$i}
      grid-gap: $i * 1px