// Modules
.menu
    &__item
        text-decoration: none



.button
    width: 167px
    height: 42px
    display: flex
    align-items: center
    justify-content: center
    border: none
    border-radius: 8px
    font-weight: 700
    font-size: 14px
    text-transform: uppercase
    outline: none
    cursor: pointer
    &_pink
        color: $white
        background: $pink
        transition: .2s
        &:hover
            background: $light-pink
            transition: .2s

.border_bottom_grey
    border-bottom: 1px solid #EAEAEA


.items-description
    font-family: 'Exo 2', sans-serif
    font-weight: 700
    color: $dark-grey
    text-transform: uppercase
    position: relative
    width: 100%
    text-align: center
    padding: 30px 15px 20px
    cursor: default
    transition: .2s
    &::before
        position: absolute
        content: ''
        height: 2px
        width: 100%
        background-color: $pink
        left: 0
        top: 0

.dark-grey-text
    line-height: 20px
    color: $dark-grey
    margin: 0

.carousel-wrapper
    margin-top: 40px
    .owl-carousel_with-arrows
        width: calc( 100% - 120px )
        position: relative
        .owl-prev
            left: -40px
            transform: rotate(-45deg)
            &:hover
                transform: rotate(-45deg) scale(1.1)
        .owl-next
            right: -40px
            transform: rotate(135deg)
            &:hover
                transform: rotate(135deg) scale(1.1)
        .owl-prev, .owl-next
            top: -20px
            position: absolute
            bottom: 0
            margin: auto
            outline: none
            height: 25px
            width: 25px
            border: 3px solid $pink !important
            border-bottom: none !important
            border-right: none !important
            border-radius: 0 !important
            transition: .2s
            &:hover
                background-color: transparent
                transition: .2s
            &:active
                border-color: $light-pink !important
        .disabled
            border-color: #b1b0b0 !important
            user-select: none
        .owl-prev.disabled
            &:hover
                transform: rotate(-45deg) scale(1) !important
        .owl-next.disabled
            &:hover
                transform: rotate(135deg) scale(1) !important
        