// Modules
.menu
    &__item
        text-decoration: none



.button
    width: 167px
    height: 42px
    display: flex
    align-items: center
    justify-content: center
    border: none
    border-radius: 8px
    font-weight: 700
    font-size: 14px
    text-transform: uppercase
    outline: none
    cursor: pointer
    &_pink
        color: $white
        background: $pink
        transition: .2s
        &:hover
            background: $light-pink
            transition: .2s

.border_bottom_grey
    border-bottom: 1px solid #EAEAEA


.items-description
    font-family: 'Exo 2', sans-serif
    font-weight: 700
    color: $dark-grey
    text-transform: uppercase
    position: relative
    width: 100%
    text-align: center
    padding: 30px 15px 20px
    cursor: default
    transition: .2s
    &::before
        position: absolute
        content: ''
        height: 2px
        width: 100%
        background-color: $pink
        left: 0
        top: 0