doctype html
html(lang="ru")
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title «Азбука окна» — оригинальные окна Rehau от немецкого производителя
    link(rel='stylesheet', href='css/main.css')
    link(rel="preconnect" href="https://fonts.gstatic.com")
    link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet")
    link(href="href=https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet")
  body
    //= templates/header.pug
    //= templates/hat.pug
    //= templates/service-menu.pug
    //= templates/welcome-carousel.pug
    //= templates/service-card.pug
    //= templates/product-card.pug
    //= templates/service-card2.pug
    //= templates/company-description.pug
    //= templates/advantages.pug
    //= templates/reviews.pug

    script(src='js/main.js')
